*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
body{
    height:100vh;
    position: relative;
    background-image: url(../static/360_F_240635575_EJifwRAbKsVTDnA3QE0bCsWG5TLhUNEZ.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
}

.forms{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:30vh;
    width: 40vh;
    padding: 2rem;
    background-color: beige;
}

.forms form input{
    height:3rem;
    width:100%;
    border-radius: 0.5rem;
    font-size:1.5rem;
}
.forms form input[type=submit]{
    background-color: rgb(92, 228, 255);;
}
